<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.crm.mapper.org.OrganizationInvestMapper" >
  <resultMap id="BaseResultMap" type="br.crm.pojo.org.OrganizationInvest" >
    <id column="org_invest_id" property="orgInvestId" jdbcType="BIGINT" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="org_invest_investment" property="orgInvestInvestment" jdbcType="VARCHAR" />
    <result column="org_invest_time" property="orgInvestTime" jdbcType="TIMESTAMP" />
    <result column="org_invest_money" property="orgInvestMoney" jdbcType="DOUBLE" />
    <result column="org_invest_wheel" property="orgInvestWheel" jdbcType="VARCHAR" />
    <result column="org_invest_create_time" property="orgInvestCreateTime" jdbcType="TIMESTAMP" />
    <result column="org_invest_edit_time" property="orgInvestEditTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    org_invest_id, org_id, org_invest_investment, org_invest_time, org_invest_money, 
    org_invest_wheel, org_invest_create_time, org_invest_edit_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="br.crm.pojo.org.OrganizationInvestExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from organization_invest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from organization_invest
    where org_invest_id = #{orgInvestId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from organization_invest
    where org_invest_id = #{orgInvestId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="br.crm.pojo.org.OrganizationInvestExample" >
    delete from organization_invest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="br.crm.pojo.org.OrganizationInvest" >
    insert into organization_invest (org_invest_id, org_id, org_invest_investment, 
      org_invest_time, org_invest_money, org_invest_wheel, 
      org_invest_create_time, org_invest_edit_time
      )
    values (#{orgInvestId,jdbcType=BIGINT}, #{orgId,jdbcType=VARCHAR}, #{orgInvestInvestment,jdbcType=VARCHAR}, 
      #{orgInvestTime,jdbcType=TIMESTAMP}, #{orgInvestMoney,jdbcType=DOUBLE}, #{orgInvestWheel,jdbcType=VARCHAR}, 
      #{orgInvestCreateTime,jdbcType=TIMESTAMP}, #{orgInvestEditTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="br.crm.pojo.org.OrganizationInvest" useGeneratedKeys="true" keyProperty="orgInvestId" >
    insert into organization_invest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgInvestId != null" >
        org_invest_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="orgInvestInvestment != null" >
        org_invest_investment,
      </if>
      <if test="orgInvestTime != null" >
        org_invest_time,
      </if>
      <if test="orgInvestMoney != null" >
        org_invest_money,
      </if>
      <if test="orgInvestWheel != null" >
        org_invest_wheel,
      </if>
      <if test="orgInvestCreateTime != null" >
        org_invest_create_time,
      </if>
      <if test="orgInvestEditTime != null" >
        org_invest_edit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgInvestId != null" >
        #{orgInvestId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="orgInvestInvestment != null" >
        #{orgInvestInvestment,jdbcType=VARCHAR},
      </if>
      <if test="orgInvestTime != null" >
        #{orgInvestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgInvestMoney != null" >
        #{orgInvestMoney,jdbcType=DOUBLE},
      </if>
      <if test="orgInvestWheel != null" >
        #{orgInvestWheel,jdbcType=VARCHAR},
      </if>
      <if test="orgInvestCreateTime != null" >
        #{orgInvestCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgInvestEditTime != null" >
        #{orgInvestEditTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="br.crm.pojo.org.OrganizationInvestExample" resultType="java.lang.Integer" >
    select count(*) from organization_invest
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update organization_invest
    <set >
      <if test="record.orgInvestId != null" >
        org_invest_id = #{record.orgInvestId,jdbcType=BIGINT},
      </if>
      <if test="record.orgId != null" >
        org_id = #{record.orgId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgInvestInvestment != null" >
        org_invest_investment = #{record.orgInvestInvestment,jdbcType=VARCHAR},
      </if>
      <if test="record.orgInvestTime != null" >
        org_invest_time = #{record.orgInvestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orgInvestMoney != null" >
        org_invest_money = #{record.orgInvestMoney,jdbcType=DOUBLE},
      </if>
      <if test="record.orgInvestWheel != null" >
        org_invest_wheel = #{record.orgInvestWheel,jdbcType=VARCHAR},
      </if>
      <if test="record.orgInvestCreateTime != null" >
        org_invest_create_time = #{record.orgInvestCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orgInvestEditTime != null" >
        org_invest_edit_time = #{record.orgInvestEditTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update organization_invest
    set org_invest_id = #{record.orgInvestId,jdbcType=BIGINT},
      org_id = #{record.orgId,jdbcType=VARCHAR},
      org_invest_investment = #{record.orgInvestInvestment,jdbcType=VARCHAR},
      org_invest_time = #{record.orgInvestTime,jdbcType=TIMESTAMP},
      org_invest_money = #{record.orgInvestMoney,jdbcType=DOUBLE},
      org_invest_wheel = #{record.orgInvestWheel,jdbcType=VARCHAR},
      org_invest_create_time = #{record.orgInvestCreateTime,jdbcType=TIMESTAMP},
      org_invest_edit_time = #{record.orgInvestEditTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="br.crm.pojo.org.OrganizationInvest" >
    update organization_invest
    <set >
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="orgInvestInvestment != null" >
        org_invest_investment = #{orgInvestInvestment,jdbcType=VARCHAR},
      </if>
      <if test="orgInvestTime != null" >
        org_invest_time = #{orgInvestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgInvestMoney != null" >
        org_invest_money = #{orgInvestMoney,jdbcType=DOUBLE},
      </if>
      <if test="orgInvestWheel != null" >
        org_invest_wheel = #{orgInvestWheel,jdbcType=VARCHAR},
      </if>
      <if test="orgInvestCreateTime != null" >
        org_invest_create_time = #{orgInvestCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgInvestEditTime != null" >
        org_invest_edit_time = #{orgInvestEditTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where org_invest_id = #{orgInvestId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="br.crm.pojo.org.OrganizationInvest" >
    update organization_invest
    set org_id = #{orgId,jdbcType=VARCHAR},
      org_invest_investment = #{orgInvestInvestment,jdbcType=VARCHAR},
      org_invest_time = #{orgInvestTime,jdbcType=TIMESTAMP},
      org_invest_money = #{orgInvestMoney,jdbcType=DOUBLE},
      org_invest_wheel = #{orgInvestWheel,jdbcType=VARCHAR},
      org_invest_create_time = #{orgInvestCreateTime,jdbcType=TIMESTAMP},
      org_invest_edit_time = #{orgInvestEditTime,jdbcType=TIMESTAMP}
    where org_invest_id = #{orgInvestId,jdbcType=BIGINT}
  </update>
</mapper>