<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="br.crm.mapper.permission.self.OrgUserDeptSelfMapper" >
   <resultMap id="BaseResultMap" type="br.crm.vo.permission.OrgUserVo" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_login_name" property="userLoginName" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="org_branch_id" property="orgBranchId" jdbcType="VARCHAR" />
    <result column="org_branch_dept_id" property="orgBranchDeptId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="user_idcard" property="userIdcard" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_status" property="userStatus" jdbcType="INTEGER" />
    <result column="user_create_time" property="userCreateTime" jdbcType="TIMESTAMP" />
    <result column="user_edit_time" property="userEditTime" jdbcType="TIMESTAMP" />
    <result column="user_edit_id" property="userEditId" jdbcType="BIGINT" />
    <result column="user_edit_name" property="userEditName" jdbcType="VARCHAR" />
    <result column="user_login_time" property="userLoginTime" jdbcType="TIMESTAMP" />
    <result column="user_last_time" property="userLastTime" jdbcType="TIMESTAMP" />
    
    
    <result column="depart_name" property="departName" jdbcType="VARCHAR" />
     <result column="org_short_name" property="organizationName" jdbcType="VARCHAR" />
      <result column="branch_name" property="branchName" jdbcType="VARCHAR" />
  </resultMap>
 
 <select id="getOrgUserByPid" resultMap="BaseResultMap">
 		SELECT
						  user_id,
						  user_login_name,
						  u.org_id,
						  org_branch_id,
						  org_branch_dept_id,
						  user_name,
						  user_phone,
						  user_email,
						  user_idcard,
						
						  user_status,
						  user_create_time,
						  user_edit_time,
						  user_edit_id,
						  user_edit_name,
						  user_login_time,
						  user_last_time,
						 o.org_short_name,
						  b.branch_name,
						  d.depart_name
						FROM organization_user u
						  LEFT JOIN organization o
						    ON o.org_id = u.org_id
						  LEFT JOIN organization_branch b
						    ON b.branch_id = u.org_branch_id
						     LEFT JOIN organization_dept d
						    ON d.org_dept_id=u.org_branch_dept_id
						WHERE  user_id=#{pid}
 </select>
 
 <select id="getOrgUserByFid" resultMap="BaseResultMap">
							 	SELECT
							  user_id,
							  user_login_name,
							  u.org_id,
							  org_branch_id,
							  org_branch_dept_id,
							  user_name,
							  user_phone,
							  user_email,
							  user_idcard,
							  user_status,
							  user_create_time,
							  user_edit_time,
							  user_edit_id,
							  user_edit_name,
							  user_login_time,
							  user_last_time
							FROM organization_user u
						WHERE   org_branch_dept_id=#{fid}
 </select>
</mapper>